<header>
  <div class="icons">
    <div class="icons__account"><img src={{user?.imageUrl}} alt=""></div>
    <!--<div class="icons__secondary"><img src="app/img/account.jpg" alt=""></div>-->
  </div>
  <div class="subheader">
    <span class="subheader__name">{{user?.name}}</span>
    <span class="subheader__email">
            <span>{{user?.email}}</span><i class="material-icons">{{arrowIcon}}</i>
    </span>
  </div>
</header>
<div class="content">
  <ul class="list">
    <li class="list__item" *ngFor="let item of menu" routerLink="/{{item.url}}" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}">
      <a>
        <i class="material-icons">{{item.icon}}</i>
        <span>{{item.text}}</span>
      </a>
    </li>
  </ul>
</div>