:host {
    padding: 15px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
md-card {
    margin: 0 1rem 1rem 0;
}